{% extends 'base.html' %}

{% block title %}
Search The Review
{% endblock title %}

{% block body %}
<div class="p-3 mb-2 bg-dark text-white">
    <div class="container" style="padding: 25px;">
        <h2 class="mt-2 mb-5 fw-bold fs-1">Search A Review</h2>
        <form method="POST" action="/show">
            <div class="mb-3 row p-5 ">
                <label for="search" class="col-sm-2 col-form-label fs-3">To-Do Search</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control fs-2" id="search" name="search" placeholder="To-Do Search">
                </div>
                <div class="col-auto"><br>
                    <button type="submit" class="btn btn-primary mb-2 btn-lg fs-3">Search?</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock body %}